@model CoreTaskEmployee.Models.EmployeeCompleteModel

@{
    ViewData["Title"] = "AddNewEmployee";
}

<div class="mt-4 mb-2">
    <h3 class="">Add New Employee</h3>
    <p class="m-0"> Default Username : employeename@company.com || (note - name in lowecase)</p>
    <p class="m-0"> Default Password : Contact number</p>
</div>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddNewEmployee">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="EmployeeId" class="control-label"></label>
                <input asp-for="EmployeeId" class="form-control" />
                <span asp-validation-for="EmployeeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmployeeName" class="control-label"></label>
                <input asp-for="EmployeeName" class="form-control" />
                <span asp-validation-for="EmployeeName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmployeeDOB" class="control-label"></label>
                <input asp-for="EmployeeDOB" class="form-control" />
                <span asp-validation-for="EmployeeDOB" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmployeeDOJ" class="control-label"></label>
                <input asp-for="EmployeeDOJ" class="form-control" />
                <span asp-validation-for="EmployeeDOJ" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmployeeCity" class="control-label"></label>
                <input asp-for="EmployeeCity" class="form-control" />
                <span asp-validation-for="EmployeeCity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmployeeState" class="control-label"></label>
                <input asp-for="EmployeeState" class="form-control" />
                <span asp-validation-for="EmployeeState" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmployeeCountry" class="control-label"></label>
                <input asp-for="EmployeeCountry" class="form-control" />
                <span asp-validation-for="EmployeeCountry" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmployeeContact" class="control-label"></label>
                <input asp-for="EmployeeContact" class="form-control" />
                <span asp-validation-for="EmployeeContact" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmployeeBloodGroup" class="control-label"></label>
                <input asp-for="EmployeeBloodGroup" class="form-control" />
                <span asp-validation-for="EmployeeBloodGroup" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmployeeProject" class="control-label"></label>
                <input asp-for="EmployeeProject" class="form-control" />
                <span asp-validation-for="EmployeeProject" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmployeeRole" class="control-label"></label>
                <input asp-for="EmployeeRole" class="form-control" />
                <span asp-validation-for="EmployeeRole" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="ADD" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="AdminDashboard" class="btn btn-secondary">Go To Dashboard</a>
</div>

