@model EmployeeTaskCore.Models.EmployeeProjectModel

@{
    ViewData["Title"] = "EditProject";
}

<div class="mt-4 mb-2">
    <h3 class="">Edit Project's Information</h3>
</div>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditProject">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <input type="hidden" asp-for="ProjectId" />

            <div class="form-group">
                <label asp-for="ProjectName" class="control-label"></label>
                <input asp-for="ProjectName" class="form-control" />
                <span asp-validation-for="ProjectName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StartDate" class="control-label"></label>
                <input asp-for="StartDate" class="form-control" />
                <span asp-validation-for="StartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DueDate" class="control-label"></label>
                <input asp-for="DueDate" class="form-control" />
                <span asp-validation-for="DueDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Resources" class="control-label"></label>
                <input asp-for="Resources" class="form-control" />
                <span asp-validation-for="Resources" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="UPDATE" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-controller="Admin" asp-action="CompleteProjectInformation" class="btn btn-secondary">Go To Projects</a>
</div>

