@model CoreTaskEmployee.Models.EmployeeIdModel

@{
    ViewData["Title"] = "PostEmployeeID";
}

<h1>PostEmployeeID</h1>

<h4>EmployeeIdModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="PostEmployeeID">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="empID" class="control-label"></label>
                <input asp-for="empID" class="form-control" />
                <span asp-validation-for="empID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Acquire" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="AdminDashboard" class="btn btn-info btn-block">Go To Dashboard</a>
</div>

