@{
    ViewData["Title"] = "Home Page";
}
@{
    Layout = "_LayoutIndexLogin";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    <div class="d-flex justify-content-center row">
        <div class="col-4">
            <a asp-controller="Home" asp-action="Login" class="btn btn-info btn-block">Employee Login</a>
        </div>
    </div>
</div>
