@model EmployeeTaskCore.Models.LeaveApplyModel

@{
    ViewData["Title"] = "ApplyPaidLeave";
}

<div class="mt-4 mb-2">
    <h3 class="">Apply for Paid Leaves</h3>
</div>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="ApplyPaidLeave">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="StartDate" class="control-label"></label>
                <input asp-for="StartDate" class="form-control" type="date" min="@DateTime.Today.ToString("yyyy-MM-dd")" />
                <span asp-validation-for="StartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EndDate" class="control-label"></label>
                <input asp-for="EndDate" class="form-control" type="date" min="@DateTime.Today.ToString("yyyy-MM-dd")" />
                <span asp-validation-for="EndDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Reason" class="control-label"></label>
                <input asp-for="Reason" class="form-control" />
                <span asp-validation-for="Reason" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Applied To:</label>
                @* <p>@Model.AppliedTo</p> *@
                <div class="bg-light text-black py-1 px-2 border border-dark rounded text-nowrap">
                    @Model.AppliedTo
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Apply" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-controller="Employee" asp-action="EmployeeLeave" class="btn btn-info text-nowrap">Go To Leave Section</a>
</div>

