@model EmployeeTaskCore.Models.EmployeeCredentialModel

@{
    ViewData["Title"] = "EditUsernameAndPassword";
}

<div class="mt-4 mb-2">
    <h3 class="">Change Credentials</h3>
</div>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditUsernameAndPassword">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="EmployeeId" />
            <div class="form-group">
                <label asp-for="Username" class="control-label"></label>
                <input asp-for="Username" class="form-control" />
                <span asp-validation-for="Username" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-controller="Home" asp-action="EmployeeOrAdmin" class="btn btn-secondary py-1 px-2">Goto Dashboard</a>
</div>

