
@{
    ViewData["Title"] = "EmployeePaidLeaveApply";
}

<h1>EmployeePaidLeaveApply</h1>
<h2>@ViewBag.PaidLeaves</h2>

<div>
    <a asp-controller="Employee" asp-action="EmployeeLeave" class="btn btn-info btn-block">Go To Leave</a>
</div>

